<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/landing-site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.6.3/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://js.paystack.co/v1/inline.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li class="brand" style="float:left;">
                <img style="width:150px; height:auto;" src="~/img/Logo-color6.jpg" />
            </li>
            <li class="hidden-xs hidden-md hidden-sm"><a href="~/">Home</a></li>
            <li class="hidden-xs hidden-md hidden-sm"><a href="~/Features">Features & benefits</a></li>
             <li class="hidden-xs hidden-md hidden-sm"><a href="~/Lending">Micro-lending</a></li>
            <li class="hidden-xs hidden-md hidden-sm"><a href="#">FAQ</a></li>
            @* <li class="hidden-xs hidden-md hidden-sm"><a href="#">Contact</a></li>*@
            <li class="hidden-xs hidden-md hidden-sm"><a href="~/home/start" class="btn btn-primary">Place an order</a></li>


        </ul>
        <div class="button">
            <a class="btn-open" href="#"></a>
        </div>
    </nav>
    <div class="overlay">
        <div class="wrap">
            <ul class="wrap-nav">
                <li>
                    <a href="~/">Home</a>

                </li>
                <li>
                    <a href="#">About Denari</a>
                    <ul>
                        <li><a href="#">The Company</a></li>
                        <li><a href="~/Features">Features & Benefits</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                    <ul>
                        <li><a href="#">FAQs</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Order</a>
                    <ul>
                        <li><a href="~/home/start" class="btn btn-primary">Place an order</a></li>

                    </ul>
                </li>
            </ul>
            <div class="social">
                <a href="#">
                    <div class="social-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                </a>


            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <!--Footer-->
    <section id="footer" class="footer">
        <p>
            (c) 2016 All rights reserved by Digital Forte Enterprise Systems Ltd.
        </p>
    </section>

    <script>
        $(document).ready(function () {
            $(".button a").click(function () {
                $(".overlay").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });
        });
        $('.overlay').on('click', function () {
            $(".overlay").fadeToggle(200);
            $(".button a").toggleClass('btn-open').toggleClass('btn-close');
            open = false;
        });

    </script>
    <script>

        $(document).ready(function () {

            var docHeight = $(window).height();
            var footerHeight = $('#footer').height();
            var footerTop = $('#footer').position().top + footerHeight;

            if (footerTop < docHeight) {
                $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
            }
        });
    </script>
</body>
</html>
