@using CRIMAS.SupportClasses

@if (Request.IsAuthenticated)
{
    
    <text>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        <text>
        @*Hello, You are Logged in as  <span style="color: White">@User.Identity.Name</span>*@
        </text>
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="ion ion-power fa">&nbsp;&nbsp;Sign out!</i> </a>
    }
    </text>
}
else
{   
    <ul class="nav pull-right " style="margin-right: 12em; font-family: 'Microsoft JhengHei'">
        <li><a  style="margin-bottom: 10px; margin-top: 19px;" href="~/Account/Login">
             Login               
        </a>
        </li>
    </ul>
}