@using CRIMAS.Models;

@{

    var db = new CrimasDb();

    string id = User.Identity.Name.ToString();

    var nFirstName = from s in db.UserProfiles where s.UserName == id select s.FirstName;

    var nLastName = from s in db.UserProfiles where s.UserName == id select s.LastName;
}

<ul class="right hide-on-med-and-down">
    <li>
        <form method="get" action="~/Customer/FindCustomer">
            <div class="input-field">
                <input style="width:400px;" id="searchString" name="searchString" type="search" placeholder="find customers.....enter name or account no." required>
                <label for="search">
                    <img src="~/Images/Search_1-WF.png" />
                </label>
            </div>
        </form>
    </li>
    <li>
        <a class="task-collapse" data-activates="task-listings" href="collapsible.html">
           
            <i class="ion ion-ios-settings"></i>
        </a>
    </li>
</ul>
<ul class="side-nav" id="task-listings">
    <li>
        <b> Account Settings </b><hr />
    </li>
    <li><a class="" href="~/Account/Manage"> <i class="ion ion-ios-unlocked-outline">&nbsp;&nbsp;Change password</i></a></li>
    <li>@Html.Partial("_LoginPartial")</li>
</ul>
<ul class="side-nav" id="mobile-demo" >
   
    <li>
        <div>
            @{
                if (User.IsInRole("Admin"))
                {
                    <label>Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault() <b style="color:#01579b">[Administrator]</b></label>

                }
                else
                {
                    <label>Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault()</label>

                }
            }
           
        </div>
    </li>
    
    <li>
        <form method="get" action="~/Customer/FindCustomer">
            <div class="input-field">
                <input style="width:400px;" id="searchString" name="searchString" type="search" placeholder="find customers.....enter name or account no." required>
                <label for="search">
                    <i class="ion ion-android-search"></i>
                </label>
            </div>
        </form>
    </li>
    
    <li class="bold">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">
                    <i class="icon ion-ios-settings fa"> <span>Account Settings</span></i>
                </a>

                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a class="" href="~/Account/Manage">
                                <i class="ion ion-android-lock fa"><span>Change password</span></i>
                            </a>

                        </li>
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="bold">
        @{
            if (User.IsInRole("Admin"))
            {
                <a href="~/Home/admin">
                    <i class="icon ion-cube fa"><span>Transactions</span></i>
                   
                </a>
            }
            else
            {
                <a href="~/Home/cashier">
                    <i class="fa fa-home" aria-hidden="true"></i>Home
                </a>
            }
        }
    </li>
   <li class="bold align-top">
        <ul class="collapsible collapsible-accordion ">
            <li>
                <a class="collapsible-header">
                    <i class="icon ion-social-dropbox fa"> <span>Loan management</span></i>
                </a>

                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="~/Loan/create">
                                <i class="fa fa-plus" aria-hidden="true"><span> New Loan</span></i>
                            </a>
                        </li>
                        <li>
                            <a href="~/Loan/">
                                <i class="fa fa-plus" aria-hidden="true"><span> Outstanding loans</span></i>
                            </a>
                        </li>
                        <li>
                            <a href="~/LoanTransaction/Create/">
                                <i class="fa fa-plus" aria-hidden="true"><span>Amortization</span></i>  
                            </a>
                        </li>
                        <li>
                            <a href="~/Loan/history">
                                <i class="fa fa-plus" aria-hidden="true"><span> History</span></i> 
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>

    </li>

    @{
        @*if (User.IsInRole("Admin"))
        {
            <li class="bold income align-top">
                <a href="~/IncomeAnalysis">
                    <i class="ion ion-connection-bars fa"><span>Income Analysis</span></i>
                    
                </a>
            </li>
        }*@
    }

    <li class="bold align-top">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">
                    <i class="ion ion-android-people fa"><span>Customers</span></i>
                    
                </a>

                <div class="collapsible-body">
                    <ul>
                        <li>

                            <a href="~/Customer/Index">
                                <i class="fa fa-plus" aria-hidden="true"><span>Customers</span></i> 
                            </a>
                        </li>
                        <li>
                            <a href="~/Customer/Create/">
                                <i class="fa fa-plus" aria-hidden="true"><span>  Enroll new customer</span></i>
                            </a>
                        </li>


                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="bold">
        <a href="~/CustomerSavings/EnterAccount">
            <i class="ion ion-social-buffer fa"><span> Customer Savings</span></i>
           
        </a>
    </li>

    @{
        if (User.IsInRole("Admin"))
        {
            <li class="bold align-top">
                <ul class="collapsible collapsible-accordion">
                    <li>

                        <a class="collapsible-header"><i class="fa fa-gift" aria-hidden="true"><span> Dividend management</span></i></a>

                        <div class="collapsible-body">
                            <ul>

                                <li>
                                    <a href="~/dividend/post">
                                        <i class="fa fa-plus" aria-hidden="true"><span> pay dividends</span></i> 
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>

            </li>
            <li class="bold align-top">
                <a class="waves-effect waves-green" href="~/AddUser">
                    <i class="ion ion-person-add fa" aria-hidden="true"><span>User access management</span></i>
                </a>
            </li>
        }
    }
  
</ul>

