

<div class="card-panel notice">
    @Model
    <a><i class="ion ion-android-close"></i></a>
    <script>
                    $('.ion-android-close').click(function () {
                        $('.notice').fadeOut();
                    })
    </script>
</div>
