#faqs{
    padding-top:1em;
    padding-left: 1em;
    padding-right: 1em;
    color:#808080;
}
#faqs  h1{
    padding-bottom:0.5em;
    color:#01579b;
    text-align:center;
}
#faqs div{
    padding-bottom:1em !important;
}

#faqs div h4{
    font-size:12pt;
    font-weight:bolder;
    color:#01579b;
}
#faqs div p{
    font-size:12pt;
}