#faqs{
    padding-top:5em;
    padding-left: 13em;
    padding-right: 13em;
    color:#808080;
}
#faqs  h1{
    padding-bottom:2em;
    color:#01579b;
    text-align:center;
}
#faqs div{
    padding-bottom:2em !important;
}

#faqs div h4{
    font-size:20pt;
    font-weight:bolder;
    color:#01579b;
}
#faqs div p{
    font-size:17pt;
}