@{
    ViewBag.Title = "EnterAccount";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
       
            <span class="card-title" style="color:black;">
                <a href="~/Home/cashier" style="float:right;margin-right:25px;" class="btn btn-floating btn-large waves-effect waves-light blue"><img src="~/Images/Home.png" /></a>

                <img src="~/Images/Document-Check.png" style="padding-right: 10px;" />Check customer account status<hr />
            </span>
        
        <div style="padding-left: 20px">
            <div class="add-user-heading alert alert-info">
                <span style="float: right; padding-right: 20px"></span>
                <p>Please enter account number to check account holder's status.</p>
            </div>
            <br />
            <form method="get" action="~/CustomerSavings/CheckAccount">
                <table style="width: 90%; margin-left: auto; margin-right: auto;">
                    <tr>
                        <td style="text-align: right; padding: 10px; color: #808080;">
                            <label style="font-weight: bold">&nbsp;&nbsp;Account no.</label>
                        </td>
                        <td>
                            <div class="input-prepend">
                                <span class="add-on">
                                    <img src="~/Images/Customer-small.png" />
                                </span>
                                <input type="text" id="accountno" placeholder="Enter account no." style="width: 155px" name="accountno" required />
                            </div>
                        </td>
                    </tr>
                </table>

                <br /><br />
                <div class="card-action">
                    <input style="float:right;" type="submit" class="btn btn-info" value="check account status" />
                   <br />
                </div>
            </form>

        </div>

    </div>
</div>