@model CRIMAS.Models.UserProfile

@{
    ViewBag.Title = "Delete Employee";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="card" style="width:90%; margin-left:auto; margin-right:auto">
    <div class="card-content">

        <div class="card-title" style="color:black; text-align:center">Are you sure you want to remove this staff?</div>
        <div style="text-align:center">

           
            <h5>
              @Html.DisplayFor(x=>x.FirstName)  @Html.DisplayFor(x=>x.LastName)  (@Html.DisplayFor(model => model.UserName))
            </h5>

           
        </div>
        @using (Html.BeginForm())
        {
            <p class="card-action" style="text-align:center">
                <input type="submit" value="Yes, I want to delete this staff" class="btn btn-default" style="background:#ff0000" /> 
                <a class="btn btn-default" href="/AddUser">Back to List</a>
            </p>
        }

    </div>
</div>