@{
    ViewBag.Title = "Rateable Register";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}
<header>
    <script>
        function validateForm() {
            var x = document.forms["rateableRegister"]["month"].value;
            if (x == null || x == "" || x == "--------- ----") {
                alert("please select a valid date");
                return false;
            }
        }
</script>
</header>
<div class="subheading">
    <span>
        <img src="~/Images/Customer-small.png" style="padding-right: 20px;" />Rateable Register </span>
</div>
<br />
<div style="padding-left: 20px">
    <p>
        <b>Select period for rateable register:</b>
    </p>
    <hr />
    <form name="rateableRegister" method="get" action="~/RateableRegister/ViewRateableRegister" >
        <table style="width: 70%; margin-left: auto; margin-right: auto">
            <tr>
                <td>Month & Year</td>
                <td>
                    <input id="month" name="month" type="month" required/></td>
            </tr>
        </table>
        <br />
        <p style="text-align: center">
            <input name="month" type="submit" class="btn btn-success" value="View rateable register" />
            <a href="~/Home/cashier" class="btn btn-info"><img src="~/Images/Home.png" />&nbsp;Take me home</a>
        </p>
    </form>
</div>
