@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Perfect online software for Micro-Lending organisations";
}


<section id="lending-main">
    <div class="row">
        <div class="col-lg-6 animated slideInLeft">
            <h1>
                The perfect<br /> Online Lending Management Software
                <br />for Micro-lending institutions.
            </h1>
            <p class="call-to visible-lg hidden-xs hidden-sm">
                <a href="~/home/start">Try Denari today </a>
            </p>
        </div>
        <div class="col-lg-6 responsive-devices animated slideInRight">
            <img class="visible-lg hidden-md" style="width:600px; height:auto;" src="~/img/denar-iphone-6.png" />
        </div>
    </div>
</section>
<section id="lending-second">
    <div>
        <h1>Loan Management</h1><hr />
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <p>
                        <b>Setup Loans</b>
                        <ul>
                            <li> Easily create new loans and upload scanned copies of loan documents with a single click</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <p>
                    <b>Outstanding Loans</b>
                    <ul>
                        <li>Easily view detailed outstanding loans record of each customer</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <p>
                        <b>Amortization</b>
                        <ul>
                            <li>
                                A flexible provision for recording repayment of loan. It is easy for the cashier to credit the customer loan repayment account either for sum of one or more monthly installment repayment
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <p>
                    <b>History</b>
                    <ul>
                        <li>Reveal the list of all customers and their performance till date as to loan repayment completed, duration, and interest charged. You can easily check for pending loan transactions.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div>
        <p style="padding-top:8em; text-align:center">
            <a style="border-radius:0; font-size:16pt;" class="btn btn-primary" href="~/Home/start">Request a 15-days demo access today!</a>
        </p>
    </div>
</section>