@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Lending organisations";
}


<section id="lending-main">
    <div class="row">
        <div class="col-lg-6 animated slideInLeft">
            <h1>
                The perfect<br /> Online Lending Management Software
                <br />for Micro-lending institutions.
            </h1>
            <p class="call-to">
                <a href="~/home/start">Try Denari today </a>
            </p>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
</section>