@media screen and (max-width:942px) {
    nav {
        padding: 0;
        height: 100px;
    }
    .getStarted input, .getStarted .btn {
        width: 100% !important;
        height: 50px !important;
        font-size: 15pt;
    }
    .getStarted .btn {
        margin-top: 10px;
        border-radius: 0;
    }
    #key-features h1 {
        padding-top: 30px;
    }
    #key-features div, #benefits div {
        width: 100%;
        padding: 1em;
        font-size: 18pt;
    }
    .newsletter {
        margin-top: 60em;
        padding-left: 20px;
        padding-right: 20px;
    }
    .newsletter input, .btn {
        /*width: 100%;*/
        border-radius: 0px;
    }
    #pricing > h1 {
        margin-top: 10em;
    }
    .pricing-table .col-md-3 {
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media screen and (max-width:974px) {
    nav {
        padding: 0;
        height: 100px;
    }
    .getStarted input, .getStarted .btn {
        width: 100% !important;
        height: 50px !important;
        font-size: 15pt;
    }
    .getStarted .btn {
        margin-top: 10px;
        border-radius: 0;
    }
    #key-features h1 {
        padding-top: 30px;
    }
    #key-features div, #benefits div {
        width: 100%;
        padding: 1em;
        font-size: 18pt;
    }
    .newsletter {
        margin-top: 60em;
        padding-left: 20px;
        padding-right: 20px;
    }
    .newsletter input, .btn {
        /*width: 100%;*/
        border-radius: 0px;
    }
    #pricing > h1 {
        margin-top: 5em;
    }
    .pricing-table .col-md-3 {
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #pricing .last-price {
        /*margin-left: -2em;*/
        /*margin-top: 1em;*/
    }
}



@media screen and (max-width:1705px) {
    #pricing{
        height:100vh;
    }
    #pricing .pricing-table {
        text-align: center;
        padding-left: 0px !important;
    }

    #pricing .price-bronze {
        /*margin-right: 7.5em;*/
    }

    #pricing .last-price {
        /*margin-left: 7.5em !important;*/
        /*margin-top: -3em;*/
    }
}

@media screen and (max-width:48em) {
    .wrap ul.wrap-nav > li {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #575757;
    }

    .wrap ul.wrap-nav {
        padding: 30px 0px 0px;
    }

    nav ul {
        opacity: 0;
        visibility: hidden;
    }

    .brand {
        visibility: visible;
    }

    .social {
        color: #c1c1c1;
        font-size: 25px;
        padding: 15px 0;
    }

    .social-icon {
        width: 100%;
        height: 50px;
        background: #fff;
        color: #333;
        display: block;
        margin: 5px 0;
    }

    #top {
        /*background: whitesmoke;*/
        text-align: center;
        padding-top: 10em;
        padding-bottom: 10em;
        padding-left: 2em;
        padding-right: 3em;
        height: 60em;
    }
}

@media screen and (max-width:1357px) {
    #form-access .subs {
        padding-bottom: 20em;
    }
    #pricing .pricing-table {
        text-align: center;
        padding-left: 0px !important;
    }

}

@media screen and (max-height:860px){
    .newsletter{
        margin-top:120em;
        height:50vh;
    }
    /*#pricing .last-price {
      margin-left: 0em !important;
     margin-top: 0 !important;
    }*/
    #benefits{
        background:white;
    }
    #features-one {
        margin-bottom:30em;
    }
    .feature-content {
       padding-left: 2em; 
    }
    .feature-content h1 {
       font-size:24pt;
    }
    .feature-two-content {
    text-align: center;
    padding:0px;
    
   }
    .feature-two-content p{
        padding:0px;
        padding-left:2px;
        padding-right:2px;
    }
    .features-leading-text .features-start .call {
        margin-left:-2em;
        padding:10px;
    }
     .features-leading-text .features-start .readme{
       color:black;
       background:#fde876;
       padding:10px;
    }
}
