.footer {
    /* height: 10vh; */
    height: 150%;
    background-color: #333;
    color: white;
    /*margin-top: 20%;*/
}

#pricing .last-price {
    margin-left: 0em !important;
    margin-top: 0em !important; 
}