

.footer {
    /* height: 10vh; */
    height: 150%;
    background-color: #333;
    color: white;
    margin-top: 20%;
}

#pricing .last-price {
    margin-left: 0em !important;
    margin-top: 0em !important;
}

#pricing {
    padding-left: 15% !important;
    /*padding-right: 10%;*/
}

#payment-options h1 {
    padding-bottom: 10%;
}

#payment-options {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
}

#payment-options img {
    width: 150px !important;
    height: auto;
}

#payment-options .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}
.subs .proceed{
  float:right !important; 
  width:20% !important;
}

.feature-row{
    margin-top:-8em; 
    width:105%; 
    height:auto;
    padding-left:20px; padding-right:40%;
    background:#2d3e50; color:white;
    
}

.feature-row p .fa, .feature-row p{
  color:white !important;
}

#key-features {
    background-color: white;
     height: auto; 
     padding-left: 0; 
     padding-right: 0; 
     padding-bottom: 10%; 
}
#banner {
    background-color: #2d3e50;
    height: 10em;
    padding: 10px;
    color: white;
    text-align: center;
}

.lead-phone{
   width:700px !important; 
   height:auto !important;
    margin-left:13em!important;
}