@{
    ViewBag.Title = "ERROR!";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="subheading">
        <span>
            <img src="~/Images/Customer-small.png" style="padding-right: 20px;" />@ViewBag.ErrorTitle</span>
    </div>
    <br /> 
 
<div class=" alert alert-error" style="padding-bottom:20px;"> 
    <img src="~/Images/Warning Message.png" /><strong>Heads up!</strong>  
    <p>@ViewBag.ErrorDescription</p>   
    <a href="~/Home/cashier" style="float:right;margin-right:10px; padding:10px" class="btn btn-primary"><img src="~/Images/Home.png"/>&nbsp;&nbsp;Take me home!</a><br /><br />
 @*<a href="~/Customer/create" style="float:right;margin-right:20px; padding:10px" class="btn btn-success"><img src="~/Images/Customer-white.png"/>&nbsp;&nbsp;Enroll new customer</a><br /><br />*@
</div>