@{
    ViewBag.Title = "Admin home";
    Layout = "~/Views/Shared/_AdminHomeLayoutPage.cshtml";
}

@using CRIMAS.SupportClasses
<div class="add-user-content">
<div class="subheading">
    <span>Employee services</span>
</div>
<br />
    <div>
        <span>Employees currently logged in: </span>
    </div>
    <div>
        <span>Total no. of employees registered: </span>
    </div>
    <div>
        <span>Total transactions carried out</span>
    </div>
    <div>
        
    </div>
</div>