@{
    ViewBag.Title = "faq";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="faqs">

    <h1>Denari FAQs</h1>

    <div>
        <h4>
            What is denari about?
        </h4>
        <p>
            Denari is a complete cloud based B2B Micro-credit Banking Platform targeted at small and medium scale Cooperatives, credit unions and lending organisations in Nigeria. Denari is engineered to remove the enormous complexities associated with operating these financial organisations in Nigeria.
        </p>
    </div>
    <div>
        <h4>
            What is a B2B Micro-Credit Banking Platform
        </h4>
        <p>
            “B2B” stands for “Business-To-Business”. Therefore a B2B Micro-Credit Banking Platform is a Software Platform that supports Micro-Credit Businesses enabling them to operate more efficiently.
        </p>
    </div>
    <div>
        <h4>
            How can denari benefit my business?
        </h4>
        <p>
            Improved business efficiency  and lowered cost savings.
            Elimination of manual processes and possibility of double entry of data.
            Complete visibility into member Transactions and lending profile.
            Seamless Integration with existing payment platforms in Nigeria.
            Intuitive reporting provides 360 degree view of your business online real-time.
        </p>
    </div>
    <div>
        <h4>
            How can i save cost with Denari?
        </h4>
        <p>
            With one license of denari for an organisation you will drastically reduce manpower and hardware cost whilst Increasing Efficiency, productivity and saving enormous time.
        </p>

    </div>
    <div>
        <h4>
            Do we need servers installed in our location?
        </h4>
        <p>
            No. Denari runs online in the cloud, thus you do not need any overhead cost of installing expensive hardware. All you need is a device that can connect to the internet.
        </p>
    </div>
    <div>
        <h4>
            Do we need internet connection to access denari?
        </h4>
        <p>
            Yes.
        </p>
    </div>
    <div>
        <h4>
            Do customers receive notifications on transactions?
        </h4>
        <p>
            Yes. Via SMS and Email.
        </p>
    </div>
    <div>
        <h4>
            How much does denari cost?
        </h4>
        <p>
            Denari is a subscription based service. The subscription is broken into three packages. Bronze is for organisations with  0-100 member strength, Silver is for organisations with  101-300 member strength, and finally Gold is for organisations with  301 and above.  Each of these categories can be subscribed for in blocks of 3 months, 12 months and 36 months at appropriate discounted prices respectively. For the price of one (1) month see the pricing at www.denari.ng.
        </p>
    </div>
    <div>
        <h4>
            How do i get denari?
        </h4>
        <p>
            Simply Log on to www.denari.ng and click  “place an order”. Follow the instructions and we will deploy a copy of denari for you within 72 hours. You will get an email of admin credentials once deployment is ready.
        </p>
    </div>
    <div>
        <h4>
            When can i start using it?
        </h4>
        <p>
            Immediately after deployment.
        </p>
    </div>
    <div>
        <h4>
            Will staff need to be trained to use denari?
        </h4>
        <p>
            Denari is simple to use. Following your deployment you will receive a copy of user training manual alongside login credentials via email.
        </p>
    </div>


</section>