@{ 
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Cooperative Business Management platform";
}
   
  
    <section id="top" class="animated fadeIn">
        <div class="row ">
            <div class=" col-xs-12 col-md-12 col-lg-12 ">
                <div class="animated slideInUp fadeIn hero-heading">
                  @*  <h1>Lending  Management Platform</h1>*@
                    <div class="hero-sub-heading" style="font-weight:bold">
                        <span>We provide Nigerian</span>
                        <h3>Cooperative Societies & Lending Organizations</h3>
                        <h3 style="font-weight:bold;">With seemless automation</h3>
                    </div>
                    <div class="form-inline getStarted" style="padding-top:5em;">
                        <form method="post" action="~/" class="form-group">
                                <input required name="email" type="text" class="form-control" placeholder="Your Email Address" />
                                <button class="btn btn-primary">Get Started</button>                          
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
    </section>
    <section id="banner">
        <div style="text-align:center;">
            <span >Why denari <a href="#" class="down"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a> Learn More..</span>
        </div>
    </section>

    <!--Key features-->
    <section id="key-features">
        <h1>Key Features</h1>
        <div class="row">
            <div class="col-xs-12 col-md-4 features">
                <p>
                    <i class="fa fa-universal-access" aria-hidden="true"></i>
                </p>
                <p style="font-size:15pt;">
                    Provides complete visibility into member Transactions and lending
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                </p>
                <p style="font-size:15pt;">
                    Seamless Integration with existing payment platforms in africa
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p>
                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                </p>
                <p style="font-size:15pt;">
                    Intuitive reporting provides 360 degree view of your business
                </p>
            </div>
        </div>
        <div id="down-benefits" class="toggle-down visible-lg hidden-sm">
            <a href="#" class="down"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div>
    </section>

    <!--Benefits-->
    <section id="benefits">
        <h1><i class="fa fa-cube" aria-hidden="true"></i></h1>
        <h1 style="margin-top:-1em; margin-bottom:1em;">Benefits</h1>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h4>
                    Increased Customer Base
                </h4>
                <p style="font-size:15pt;">
                    With a trusted platform like denari your organization can begin to scale and expand customer base and reach.
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h4>
                    Manage Risk Better
                </h4>
                <p style="font-size:15pt;">
                    with deeper insights into customer lending profile, credit unions can effectively manage associated risks
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h4>
                    Lower Service Cost
                </h4>
                <p style="font-size:15pt;">
                    Real-time access to cooperative accounts and all the right tools for applying for loans and withdrawals online.
                </p>
            </div>
        </div>
        <div id="down-about" class="toggle-down visible-lg hidden-sm">
            <a href="#" class="down"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div>
    </section>

    <!--About Denari-->
    <section id="about">
        <div class="row">
            <div class="col-xs-12 col-md-5 about-image">

                <img src="~/img/dreamstime_xl_50592602.jpg" />
            </div>
            <div class="col-xs-12 col-md-7">
                <h1>About Denari <br />& Our Company</h1>
                <div class="about-content">
                    <p>
                        Denari is a complete B2B Cooperative Business Management Platform targeted at small
                        and medium scale Cooperatives and credit unions in Africa. Denari is engineered to
                        remove the enormous complexities associated with operating a cooperative society,
                        credit union or lending organization in Africa.
                    </p>

                    <p>
                        At Our company, Digital Forte Enterprise Systems Limited, we have a pragmatic approach
                        to enterprise innovation and the IS business which equals happy and satisfied customers.
                        With a modest team of highly dedicated staff we provide support to Africa's rising businesses

                    </p>
                </div>
            </div>
        </div>
        <div id="down-stats" style="text-align:center" class="toggle-down visible-lg hidden-sm">
            <a href="#" class="down"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div>
    </section>


    <!--Statistics-->
    @*<section id="stats">
        <div class="col-md-3">
            <h1>12,000,000</h1>
            <p>
                Cooperative members
                accross Africa
            </p>
        </div>
        <div class="col-md-3">
            <h1>50,000</h1>
            <p>
                Cooperatives &
                credit unions
            </p>
        </div>
        <div class="col-md-3">
            <h1>7.000m</h1>
            <p>
                was generated in 2013
            </p>
        </div>
        <div class="col-md-3">
            <h1>200+</h1>
            <p>
                years history of cooperatives and credit unions.
            </p>
        </div>
    </section>*@


    <!--Pricing-->
    <section id="pricing">

        <h1>Pricing</h1>
        <div class="pricing-table row" style="padding-left:30em;">
            @*<div class="col-md-3" style="margin-right:-4.5em;">
                <div class="price-component">
                    <p class="price-header">
                        <h2>30 Days trial</h2>
                        <span>No members restriction</span>
                    </p><hr />
                    <p class="price-content" style="font-size:14pt; font-weight:bold;">
                        N0.000
                    </p>
                    <hr />
                    <button class="btn btn-default">Sign Up</button>
                </div>

            </div>*@
            <div class="col-md-3 price-bronze" >
                <div class="price-component most-popular" >
                    <p class="price-header">
                        <h2>bronze</h2>
                        <span><b>0-200 Members</b></span>
                    </p><hr />
                    <p class="price-content" style="font-size:14pt; font-weight:bold;">
                        N25,250/Month
                    </p>
                    <p style="font-size:11pt;">
                        <b>What you get:</b><br />
                         Shared Server, SSL Certificate, Request custom features, Legacy data migration
                    </p>
                    <hr />
                    <button class="btn btn-default">Sign Up</button>
                </div>

            </div>
            <div class="col-md-3" >
                <div class="price-component silver">
                    <p class="price-header">
                        <h2 style="color:white">silver</h2>
                        <span><b>201 - 501 Members</b></span>
                    </p><hr />
                    <p class="price-content" style="font-size:14pt; font-weight:bold;">
                        N32,250/Month
                    </p>
                    <p style="font-size:11pt;">
                        <b>What you get:</b><br />
                        Dedicated Server, SSL Certificate, Request custom features, Legacy data migration
                    </p>
                    <hr />
                    <button class="btn btn-default" style="background:#424242 !important;">Sign Up</button>
                </div>

            </div>
            <div class="col-md-3 last-price">
                <div class="price-component">
                    <p class="price-header">
                        <h2>Gold</h2>
                        <span>Above 500 Members</span>
                    </p><hr />
                    <p class="price-content" style="font-size:14pt; font-weight:bold;">
                        N45,250/Month
                    </p>
                    <p style="font-size:11pt;">
                        <b>What you get:</b><br />
                        Dedicated Server, SSL Certificate, Request custom features, Legacy data migration
                    </p>
                    <hr />
                    <button class="btn btn-default">Sign Up</button>
                </div>
            </div>
        </div>
    </section>


    <!--Subscribe to newsletter-->
    <section class="newsletter">
        <h3>Subscribe to our newsletter</h3>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group input-append">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </span>
                    <input style="width:400px;" type="text" class="form-control" placeholder="Enter your email">
                </div>
            </div>
            <button class="btn btn-default">Subscribe now</button>
        </form>
    </section>

    <!--ToDO: Latest Posts-->
    <!--ToDO:FAQs-->

    <script>
      

        $('.down').on('click', function () {
            $('html, body').animate({
                scrollTop: $("#key-features").offset().top
            }, 1000);
        });

        $('#down-benefits').on('click', function () {
            $('html, body').animate({
                scrollTop: $("#benefits").offset().top
            }, 700);
        });

        $('#down-about').on('click', function () {
            $('html, body').animate({
                scrollTop: $("#about").offset().top
            }, 700);
        });

        $('#down-stats').on('click', function () {
            $('html, body').animate({
                scrollTop: $("#pricing").offset().top
            }, 700);
        })

        $('.most-popular').on('click', function () {
            $(location).attr('href', '/home/start')
        })
        $('.silver').on('click', function () {
            $(location).attr('href', '/home/start')
        })
        $('.last-price').on('click', function () {
            $(location).attr('href', '/home/start')
        })
        //register 



    </script>
