<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Denari - B2B Cooperative Management platform</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <section id="top">
        <img src="~/img/Logo-color6.jpg" />
        <span style="display:block; text-align:center; padding-top:40px;">
            <small>An Official product of Digital forte Enterprise Systems Limited. (c) 2016</small>

        </span>
    </section>
    <section id="main">
        <h1>Launching soon!</h1>
    </section>
</body>
</html>
