<<<<<<< HEAD
<<<<<<< HEAD
﻿@{
    ViewBag.Title = "CRIMAS-MPCS Ltd. Web Portal - Home";
}
<div class="container-narrow">

    <h2 style="text-align:center" >CRIMAS-MPCS Ltd. Web Portal</h2><br /><br /><br />   
    <form class="form-signin">
        <h3 class="form-signin-heading">Login</h3>
        <hr /><br />
        <input type="text" class="input-block-level" placeholder="Username">
        <input type="password" class="input-block-level" placeholder="Password"><br /><br />
        <button class="btn btn-large btn-success" type="submit">Sign in</button>
    </form><br /><br />
    <hr />
     <div class="footer">
        <p style="font-size:9pt; text-align:center">&copy; CRIMAS MPCS Limited 2013. Designed & Engineered by <a href="http://www.muzeolanigeria.com">muzeola nigeria Ltd.</a></p>
      </div>
</div>
=======
﻿@{
    ViewBag.Title = "CRIMAS-MPCS Ltd. Web Portal - Home";
}
<div class="container-narrow">

    <h2 style="text-align:center" >CRIMAS-MPCS Ltd. Web Portal</h2><br /><br /><br />   
    <form class="form-signin">
        <h3 class="form-signin-heading">Login</h3>
        <hr /><br />
        <input type="text" class="input-block-level" placeholder="Username">
        <input type="password" class="input-block-level" placeholder="Password"><br /><br />
        <button class="btn btn-large btn-success" type="submit">Sign in</button>
    </form><br /><br />
    <hr />
     <div class="footer">
     @*   <p style="font-size:9pt; text-align:center">&copy; Digital Forte Enterprise Systems Limited 2013. Designed & Engineered by <a href="http://www.muzeolanigeria.com">muzeola nigeria Ltd.</a></p>*@
      </div>
</div>
>>>>>>> 392e659... Fixed installmental payments, display true representation of loans
=======
﻿@{
    ViewBag.Title = "CRIMAS-MPCS Ltd. Web Portal - Home";
}
<div class="container-narrow">

    <h2 style="text-align:center" >CRIMAS-MPCS Ltd. Web Portal</h2><br /><br /><br />   
    <form class="form-signin">
        <h3 class="form-signin-heading">Login</h3>
        <hr /><br />
        <input type="text" class="input-block-level" placeholder="Username">
        <input type="password" class="input-block-level" placeholder="Password"><br /><br />
        <button class="btn btn-large btn-success" type="submit">Sign in</button>
    </form><br /><br />
    <hr />
     <div class="footer">
     @*   <p style="font-size:9pt; text-align:center">&copy; Digital Forte Enterprise Systems Limited 2013. Designed & Engineered by <a href="http://www.muzeolanigeria.com">muzeola nigeria Ltd.</a></p>*@
      </div>
</div>
>>>>>>> 392e659... Fixed installmental payments, display true representation of loans
