
﻿@{
    ViewBag.Title = "Denari - Home";
}
<div class="container-narrow">

    <h2 style="text-align:center" >CRIMAS-MPCS Ltd. Web Portal</h2><br /><br /><br />   
    <form class="form-signin">
        <h3 class="form-signin-heading">Login</h3>
        <hr /><br />
        <input type="text" class="input-block-level" placeholder="Username">
        <input type="password" class="input-block-level" placeholder="Password"><br /><br />
        <button class="btn btn-large btn-success" type="submit">Sign in</button>
    </form><br /><br />
    <hr />
     <div class="footer">
      </div>
</div>
