@using CRIMAS.Models;
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Process denari order";

    string user_email = ViewBag.email;
    var db = new DenariDb();
    var states = db.DenariStates.ToList();
}


@*<h1>Request Access</h1>*@

<section class="setup">
    <div class="row">

        <div class="col-lg-12" >
            <div class="header-order" style="width: 60%; margin-right:auto; margin-left:auto;">
                <h1>Request a denari deployment</h1>
                <p>We just need a few details from you and we'll spin up your servers in 0 - 72hrs</p>
            </div>
            <div class="signup" style="width: 60%; margin-right:auto; margin-left:auto; padding-bottom:10em;">
                <div class="control-group subs" style="margin-bottom:20px;">
                    <label style="font-weight:bold; font-size:14pt; color:#01579b; padding-bottom:20px ">Please select what you want us to do for you?</label>
                    <label class="control control--radio">
                        I want to request for a 15-days demo access first.
                        <input type="radio" name="access_type" value="1"  required />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control control--radio">
                        Please go ahead and bill me for a live deployment.
                        <input type="radio" name="access_type" value="2" required />
                        <div class="control__indicator"></div>
                    </label>
                    <select class="form-control subs-subscription" id="Subscription_type" placeholder="Location" required>
                        <option value="1">Bronze 3-Months (NGN25,250)</option>
                        <option value="2">Bronze 12-Months (NGN22,750)</option>
                        <option value="3">Bronze 36-Months (NGN20,200)</option>
                        <option value="4">Silver 3-Months (NGN32,250)</option>
                        <option value="5">Silver 12-Months (NGN29,025)</option>
                        <option value="6">Silver 36-Months (NGN25,800)</option>
                        <option value="7">Gold 3-Months (NGN45,250)</option>
                        <option value="8">Gold 12-Months (NGN40,725)</option>
                        <option value="9">Gold 36-Months (NGN36,200)</option>
                    </select><br /><br />
                    <button class="btn btn-primary proceed" style="float:right; width:20%">Proceed</button>
                </div>
                <span id="spinner" style="color:#01579b; font-size:16pt; text-align:center;">
                    Please wait we are getting things ready..<img src="~/img/hourglass.gif" />

                </span>
                <form id="form-access" style="padding:50px;">
                    <h2 class="visible-xs visible-md visible-sm"><i class="fa fa-hourglass-start" aria-hidden="true"></i> Denari Setup</h2><class ="visible-xs visible-md visible-sm" hr />
                    <div class="form-group">
                        <label style="font-weight:bold; font-size:14pt; color:#01579b ">Business details</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Contact Person fullname" required>
                    </div>
                    <div class="form-group">
                        <input type="email" value="@user_email" class="form-control" id="email" placeholder="Email*" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="CompanyName" placeholder="Business Name" required>
                    </div>
                    <div class="form-group" style="padding-top:20px">
                        <label style="font-weight:bold; font-size:14pt; color:#01579b ">Please tell us your location</label>
                        <select class="form-control" id="Location" placeholder="Location" required>
                          @*  <option value="" disabled selected>Select State</option>*@
                            <option>Akwa Ibom </option>
                            <option>Abia </option>
                            <option>Adamawa </option>
                            <option>Anambra </option>
                            <option>Bauchi</option>
                            <option>Bayelsa</option>
                            <option>Benue </option>
                            <option>Borno</option>
                            <option>Cross River</option>
                            <option>Delta</option>
                            <option>Enugu</option>
                            <option>Federal Capital Territory</option>
                            <option>Gombe</option>
                            <option>Imo</option>
                            <option>Jigawa</option>
                            <option>Kaduna</option>
                            <option>Kano</option>
                            <option>Katsina</option>
                            <option>Kebbi</option>
                            <option>Kogi</option>
                            <option>Kwara</option>
                            <option>Lagos</option>
                            <option>Nasarawa</option>
                            <option>Niger</option>
                            <option>Ogun</option>
                            <option>Ondo</option>
                            <option>Osun</option>
                            <option>Oyo</option>
                            <option>Plateau</option>
                            <option>Rivers</option>
                            <option>Sokoto</option>
                            <option>Taraba</option>
                            <option>Yobe</option>
                            <option>Zamfara</option>
                        </select>

                    </div>
                    <button id="requestaccess" type="submit" class="btn btn-default">request a 15-day demo access</button>
                    <p style="text-align:center; padding-top:20px;">
                        <a id="back" style="font-size:18pt; color:#01579b; text-decoration:none; cursor:pointer">Take me back!</a>

                    </p>
                    <div class="pay-options">
                        <img src="~/img/interswitch.png" />
                        <img src="~/img/mastercard.png" />
                        <img src="~/img/verve.png" />
                        <img src="~/img/visa-card.png" />
                    </div>
                </form>
               
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {

            var transactionId = '';

            $('#spinner').hide();
            $('#form-access').hide();
            $('.subs-subscription').hide();
           
            $("input[name=access_type]").change(function () {
                selected_value = $("input[name='access_type']:checked").val();
                if (selected_value == 1) {
                    $('.subs-subscription').hide();
                }
                if (selected_value == 2) {
                    $('.subs-subscription').fadeIn();
                }
            })

            $(".proceed").click(function () {
                selected_value = $("input[name='access_type']:checked").val();
                if (selected_value == 1) {
                    $(".subs").hide();
                    $("#form-access").show();
                }
                if (selected_value == 2) {
                    $.ajax({
                        type: 'POST',
                        url: '/api/setup?Subscription_type=' + $("#Subscription_type").val(),

                    }).done(function (response) {
                        if (response != null) {
                            $(location).attr('href', response);
                        } else {
                            alert('no subscription available for this selection')
                        }
                    }).fail(function (error) {
                        alert('no subscription available for this selection')

                       
                    }).always(function () {
                        console.log('request done!')
                    })
                }
            })
           
            $('#requestaccess').click(function (event) {
               
                $('#form-access').validate({

                    submitHandler: function (form) {
                        //$('#form-access').hide();
                        $('#spinner').fadeIn();

                        var customer = {
                            name: $('#name').val(),
                            email: $('#email').val(),
                            phone: $('#phone').val(),
                            CompanyName: $('#CompanyName').val(),
                            Location: $('#Location').val()
                        }


                        $.ajax({
                            type: 'POST',
                            url: '/api/setup',
                            data: customer

                        }).done(function (response) {
                            $('#spinner').hide();

                            if (response === false) {
                                $('#spinner').show();
                                $('#form-access').show();
                                $('#spinner').html("<b style=\"color:red\">This customer already exists</b>");
                            } else {
                                $('#spinner').show();
                                $('#spinner').html("<b style=\"green:red\">You have successfully requested for a demo access. One of our Business Executives will contact you soon!</b>");
                                $('#form-access').hide();
                            }

                        }).fail(function (error) {

                            $('#spinner').hide();
                            $('#form-access').show();
                            alert('unable to add customer')

                        }).always(function () {
                            console.log('request done!')
                        })
                    }
                })
            })

            $('#back').click(function () {
                $('#form-access').hide();
                $(".subs").show();
            })
          
        })
    </script>
</section>




