body {
    background: #01579b;
}

#main {
    text-align: center;
    color: white;
    padding-top:    5em;
}

    #main h1 {
        font-size: 70pt;
        font-weight: lighter;
    }

#top {
    background:white;  
    text-align:center;
    padding-top:10em;
    padding-bottom:10em; 
}
