body {
}

#nav-mobile .logo:hover {
    background: none;
    border: none;
}

#nav-mobile li {
    color: black;
}

main, footer {
    padding-left: 340px;
}

.scrollbar {
    /*margin-left: 30px;*/
    float: left;
    /*height: 300px;*/
    width: 65px;
    /*background: #F5F5F5;*/
    overflow-y: scroll;
    margin-bottom: 40px;
}

    .scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        /*border-radius: 10px;*/
        background-color: #F5F5F5;
    }

    .scrollbar::-webkit-scrollbar {
        width: 12px;
        /*background-color: #F5F5F5;*/
        background-color: #0d47a1;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        /*border-radius: 10px;*/
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: lightgray;
    }

select {
    display: inline;
}

.card input[type="text"], .card input[type=number], .card input[type=email], .card input[type=password], .card select, .card input[type=date] {
    border: 1px solid#90a4ae !important;
    padding: 2px !important;
    padding-left: 10px !important;
    margin-top: 5px !important;
}

    .card input[type="text"]:focus {
        background: #f1f8e9;
    }

.card .btn, .card input[type="submit"], .card input[type="button"], .card button {
    font-size: 10pt !important;
}

table td {
    border-radius: 0;
}

.customerMaster .cust-header td {
    font-size: 11pt;
    font-family: 'Segoe UI';
    /*text-align:center;*/
}

.customerMaster .sub td {
    /*text-align:center;*/
    font-size: 17pt;
    font-weight: 400;
}

.side-nav a {
    font-size: 11pt;
    font-family: 'Microsoft JhengHei';
    line-height: 20pt;
}

    .side-nav a img {
        width: 35px;
        height: auto;
    }

    .side-nav a:hover, .side-nav li:hover {
        /*background:#e8eaf6;*/
        background: none;
        color: #0d47a1;
    }

.side-nav li:hover {
    /*border-left:3px solid #0d47a1;*/
    /*border-right:6px solid #0d47a1;*/
    /*font-weight:bold;*/
    color: #0d47a1;
}

.side-nav li .input-field input[type=search] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
}

.collapsible-body ul {
    padding-left: 7.5px;
    padding-top: 10px !important;
    font-size: 10pt;
}

    .collapsible-body ul li {
        font-size: 9pt;
    }

    .collapsible-body ul .fa-plus {
        font-size: 8pt;
        font-weight: lighter;
        padding-right: 10pt;
    }

.bold .fa {
    font-size: 12pt !important;
    padding-right: 30px;
    color: #0d47a1;
}

.loan-history {
    padding-top: 70px;
}

    .loan-history .tabs a {
        color: #0d47a1;
    }

        .loan-history .tabs a:hover {
            color: #0d47a1;
            font-weight: bold;
        }

    .loan-history .indicator {
        background-color: #0d47a1 !important;
    }
    .loan-history #completed, #pending{
        padding-top:40px;
    }
/*Validation styling*/

.error {
    position: relative;
    background: #0d47a1;
    color: white !important;
    padding: 10px;
    /*border: 4px solid #c2e1f5;*/
}

    .error:after, .error:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        color: white;
    }

    .error:after {
        border-color: rgba(136, 183, 213, 0);
        /*border-bottom-color: #88b7d5;*/
        border-width: 30px;
        margin-left: -30px;
        color: white;
    }

    .error:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #0d47a1;
        border-width: 13px;
        margin-left: -13px;
        color: white;
    }

#table th {
    font-weight: bold;
}

#table td {
    font-size: 9.5pt;
}

.ValidationMessage {
    color: red;
    font-size: 10pt;
    font-weight: lighter;
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
