body {
}

#nav-mobile .logo:hover {
    background: none;
}
#nav-mobile li{
    color:black;
}

main, footer {
    padding-left: 340px;
}
.scrollbar
{
	/*margin-left: 30px;*/
	float: left;
	/*height: 300px;*/
	width: 65px;
	/*background: #F5F5F5;*/
	overflow-y: scroll;
	margin-bottom: 25px;
}
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/*border-radius: 10px;*/
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: lightgray;
}

@media (max-width:767px) {
    main, footer {
        padding-left: 40px;
    }
}

@media (max-width:921px) {
    main, footer {
        padding-left: 40px;
    }
}

@media (max-width:983px) {
    main, footer {
        padding-left: 40px;
    }
}

select{
    display: inline;
  }
.card input[type="text"], .card input[type=number], .card input[type=email], .card select{
    border: 1px solid#90a4ae !important;
    padding:2px !important;
    padding-left:10px !important;
    margin-top:5px !important;
}
.card input[type="text"]:focus{
    background:#f1f8e9;
}
.card .btn, .card input[type="submit"], .card input[type="button"], .card button{
    font-size:10pt !important;
}
table td{
    border-radius:0;
}
