@model CRIMAS.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}



<div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
        <div class="card-title" style="color:black">Are you sure you want to remove this customer from the system?</div>
        <div>
            <br />
            <div style="text-align:center;">
                <span style="color:red; font-size:16pt; font-weight:bold;">
                    @Html.DisplayFor(model => model.Name)
                </span>
                <span style="color:blue; font-size:13pt;">
                   [ @Html.DisplayFor(model=>model.AccountNo) ]
                </span>
            </div>          
        </div><br />
      <div class="card-action">
          @using (Html.BeginForm())
          {
              <p style="text-align:center;">
                  <input class="btn btn-danger" style="background:#b71c1c ;" type="submit" value="Yes, I want to delete this customer" /> 
                  <a href="~/Customer/ViewAllCustomers" class="btn btn-primary">No, take me back </a>
              </p>
          }

      </div>
    </div>
</div>