@model CRIMAS.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
       
            <span class="card-title" style="color:black">
                <img src="~/Images/Customer-small.png" style="padding-right: 20px;" />Enrollment details for account holder @Html.DisplayFor(model => model.AccountNo)<hr />
            </span>
        
        <br />
        <div class="add-user-heading" style="padding-bottom: 20px;">
            <p style="color: green">
                <b>@Html.DisplayFor(model => model.Name)</b> has successfully been enrolled into the system. The system has assigned an account number as follows:
            </p>
            <div style="padding-left: 20px">

                <div>
                    <label style="font-size: 18pt; color: blue; text-align: center">@Html.DisplayFor(model => model.AccountNo)</label>
                </div>
                <br />

            </div>
            <p class="card-action">
                <a href="~/Home/cashier"  class="btn btn-primary">
                    <img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home!
                </a><br />

            </p>
        </div>
        <br />


       
    </div>
</div>
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a title="add new customer" href="~/Customer/create" class="btn btn-floating btn-large " style="background-color:#689f38">
        <i class="large material-icons">add</i>
    </a>

</div>
