@model CRIMAS.Models.ReconciliationProperties
@{
    ViewBag.Title = "Update reconciliation settings";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="card" style="width:80%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
        <div class="card-title" style="color:black; text-align:center;">Are you sure want to update your bank reconciliation settings?</div><hr />
        
    </div>
</div>
