@model CRIMAS.Models.LoanTransaction

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="card" style="width:75%; margin-right:auto; margin-left:auto;">
    <div class="card-content">
        <div class="card-title" style="color:#b71c1c">
            <span>
                <img src="~/Images/Document-Check.png" style="padding-right: 10px;" />Delete transaction!<hr />
            </span>
        </div>
        <br />
        <div style="padding-left: 20px">
            <div class="alert alert-danger">
                <b>Are you sure you want to delete this transaction?</b>
            </div>

            @using (Html.BeginForm())
            {
                <p>
                    <input style="background:#b71c1c" type="submit" class="btn btn-danger" value="Yes, and take me back!" />
                    <a href="~/Loan/CheckLoanStatus?accountno=@Model.AccountNo" class="btn btn-info">No! take me back to repayments.</a>
                </p>
            }
        </div>
    </div>
</div>