@model CRIMAS.Models.LoanTransaction
@using CRIMAS.Models;

@{
    ViewBag.Title = "Details - Loan status repayment";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    var db = new CrimasDb();

    string acc = (from s in db.LoanTransactions
                  where s.id == Model.id
                  select s.AccountNo).FirstOrDefault();

    string CustomerName = (from s in db.Customers
                           where s.AccountNo == acc
                           select s.Name).FirstOrDefault();
    
}

<div class="card" style="width:70%; margin-right:auto; margin-left:auto">
    <div class="card-content">
        <div class="card-title" style="color:green;">
            <span>
                <img src="~/Images/Document-Check.png" style="padding-right: 10px;" />Check customer loan status - Success!<hr />
            </span>
        </div>
        <br />
        <div style="padding-left: 20px">
            <p style="color:green; font-style:italic; padding-right:20px">
                <b>@CustomerName</b> with account number:<b>@Model.AccountNo</b> has successfully made a loan repayment of
                <b>@Model.refund</b>.
            </p>

            <p>
                <a href="~/Loan/CheckLoanStatus?accountno=@Model.AccountNo" class="btn btn-info">View all repayments</a>
                <a href="~/LoanTransaction/Create" class="btn btn-success">refund</a>
                <a href="~/Home/Cashier" class="btn btn-primary">Take me home!</a>
            </p><hr />
            <div class="alert alert-danger">
                <strong>Cashier!</strong>
                &nbsp;If this transaction was done in error please&nbsp;&nbsp;<a href="/LoanTransaction/Delete/@Model.id" class="btn-small btn-danger">remove it here</a>
            </div>

        </div>

    </div>
</div>
