/*Legacy Css files*/
@import url(../../Content/SiteUpdate-responsive.css);
@import url(../../Content/SiteUpdate.css);
/*Updates*/
/* Define mobile styles */
@media only screen and (max-width: 40em) {
  #mobile-demo {
    width: 500px !important;
    font-family: 'Segoe UI' !important;
    height: 100% !important;
    padding-left: 30px;
    padding-right: 100px !important; }

  .bold {
    width: 100% !important;
    display: block !important; }

  .bold .collapsible-header i {
    width: 100% !important;
    float: left !important;
    text-align: left;
    margin-left: -14px !important; }

  .bold .fa span {
    font-family: 'Segoe UI' !important;
    padding-left: 20px !important; }

  #searchString {
    background: #fff !important;
    margin: 0 !important;
    color: gray;
    width: 100% !important;
    height: 64px;
    border: 1px solid #01579b; }

  #searchString + label .ion {
    color: #01579b;
    margin-top: -10px;
    padding-left: 5px; }

  .align-top {
    margin-top: 12px; }

  main, footer {
    padding: 20px; }

  div.cashier-main {
    padding: 0px; } }
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) {
  #task-listings {
    width: 250px;
    background: #01579b; }

  #task-listings li {
    width: 100%;
    float: left;
    margin-left: 0;
    display: block;
    color: white !important; }

  #task-listings li .ion {
    font-family: 'Segoe UI';
    font-size: 10pt;
    color: white !important; }

  #task-listings li .ion:hover {
    /*color:$primary-color*/ }

  main, footer {
    padding: 20px; }

  div.cashier-main {
    padding: 0px; } }
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #mobile-demo {
    width: 500px !important;
    font-family: 'Segoe UI' !important;
    height: 100% !important;
    padding-left: 30px;
    padding-right: 100px !important; }

  .bold {
    width: 100% !important;
    display: block !important; }

  .bold .collapsible-header i {
    width: 100% !important;
    float: left !important;
    text-align: left;
    margin-left: -14px !important; }

  .bold .fa span {
    font-family: 'Segoe UI' !important;
    padding-left: 20px !important; }

  #searchString {
    background: #fff !important;
    margin: 0 !important;
    color: gray;
    width: 100% !important;
    height: 64px;
    border: 1px solid #01579b; }

  #searchString + label .ion {
    color: #01579b;
    margin-top: -10px;
    padding-left: 5px; }

  .align-top {
    margin-top: 12px; } }
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  .logo-main {
    margin-top: -3em;
    margin-bottom: 3em;
    /*background:#e1f5fe;*/
    width: 100%;
    border-bottom: 2px solid #01579b; }

  .identity {
    margin-top: -2em;
    margin-bottom: 2em; }

  .logo-main img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px; }

  .side-nav {
    width: 250px !important;
    background: whitesmoke; }

  .side-nav li {
    float: left;
    padding-bottom: 0px !important; }

  .side-nav a {
    height: 50px !important;
    font-size: 8pt !important;
    text-transform: capitalize;
    font-weight: bold; }

  .side-nav .bold ul {
    padding-top: -5em !important;
    margin-left: -14px; }

  .side-nav .collapsible {
    background: whitesmoke; }

  .side-nav .collapsible-body ul {
    margin-top: -1.4em !important;
    background: whitesmoke; }

  .income {
    margin-left: 3px; }

  .align-top {
    margin-top: -10px; }

  .side-nav .fa {
    color: #808080;
    margin-right: -15px; }

  .side-nav .collapsible-header .fa {
    margin-right: 1px !important; }

  .side-nav .collapsible-body ul li .fa {
    margin-right: 5px !important; }

  .side-nav:not(:hover) > .collapsible-body {
    background: whitesmoke; }

  .side-nav .collapsible-body:not(:hover) {
    background: whitesmoke !important; }

  .side-nav .fa:hover {
    color: #01579b; }

  .side-nav .fa:hover + a {
    color: #01579b; }

  .side-nav a:hover > .fa {
    color: #01579b; }

  #task-listings {
    width: 250px;
    background: #01579b; }

  #task-listings li {
    width: 100%;
    float: left;
    margin-left: 0;
    display: block;
    color: white !important; }

  #task-listings li .ion {
    font-family: 'Segoe UI';
    font-size: 10pt;
    color: white !important; }

  #task-listings li .ion:hover {
    /*color:$primary-color*/ }

  main, footer {
    padding-left: 340px; }

  .dashboard {
    font-family: 'Lato', sans-serif; }

  .dashboard #annualProfitChart {
    margin-top: 2em !important; }

  .dashboard .header h1 {
    font-weight: bolder;
    color: #808080;
    font-size: 20pt; }

  .dashboard .header h1 #toggle-control {
    float: right;
    font-size: 9pt; }

  .dashboard .header h1 #toggle-control select {
    font-family: 'Microsoft JhengHei'; }

  .dashboard .header h1 .ion {
    padding-right: 1em;
    color: #01579b; }

  .dashboard .stats {
    margin-top: 1em;
    font-weight: bolder;
    color: #01579b; }

  .dashboard .stats label {
    font-family: 'Microsoft JhengHei';
    color: white; }

  .dashboard .stats .stats-content .stats-data {
    font-family: 'Microsoft JhengHei';
    font-weight: lighter;
    background: rgba(1, 87, 155, 0.5);
    color: white;
    padding: 20px; }

  .dashboard .stats .stats-content .stats-data h1 {
    font-size: 20pt; }

  .dashboard .stats .stats-content .stats-data .ion-stats-bars {
    color: white;
    float: right;
    font-size: 30pt; }

  .dashboard .top-lenders {
    padding-top: 3em !important; }

  .dashboard .top-lenders .header > div {
    padding-bottom: 3em;
    padding-top: 3em; }

  .dashboard .top-lenders .header h1 {
    font-size: 20pt; }

  .dashboard .top-lenders .header h1 .ion-ios-alarm {
    color: #01579b;
    padding-right: 1em; }

  .lender-person {
    font-family: 'Microsoft JhengHei';
    text-transform: capitalize !important;
    background: whitesmoke; }

  .lender-person .ion {
    color: white;
    background: #808080;
    font-size: 30pt;
    /*border: 1px solid $icon-color-gray;*/
    padding: 20px;
    /*border-radius:48%;*/ }

  .lender-person .lender-image img {
    width: 70px;
    height: auto;
    border: 1px solid whitesmoke;
    margin-left: -10px; }

  .lender-person .lender-name {
    padding-top: 20px;
    /*padding-left:-10em;*/ }

  .lender-person .lender-name span {
    font-size: 18pt;
    color: black;
    float: left;
    font-family: 'Lato', sans-serif;
    font-weight: bold; }

  .lender-person .lender-name label {
    float: right; }

  .cust-stats {
    font-family: 'Microsoft JhengHei';
    color: #808080; }

  .cust-stats .ion {
    margin-right: 1em;
    color: white;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    background: rgba(1, 87, 155, 0.5);
    border-radius: 50%;
    font-size: 30pt; }

  .cust-stats span {
    font-size: 10pt;
    margin-left: 10em;
    /*margin-top:-5em;*/ }

  .cust-stats h5 {
    margin-bottom: -0.5em; }

  .cust-stats .ion-ios-arrow-thin-up, .cust-stats .ion-ios-arrow-thin-down {
    background: none;
    font-size: 18pt;
    margin-left: -1em;
    font-weight: bold; } }
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .logo-main {
    margin-top: -3em;
    margin-bottom: 3em;
    /*background:#e1f5fe;*/
    width: 100%;
    border-bottom: 2px solid #01579b; }

  .identity {
    margin-top: -2em;
    margin-bottom: 2em; }

  .logo-main img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px; }

  .side-nav {
    width: 250px !important;
    background: whitesmoke; }

  .side-nav li {
    float: left;
    padding-bottom: 0px !important; }

  .side-nav a {
    height: 50px !important;
    font-size: 8pt !important;
    text-transform: capitalize;
    font-weight: bold; }

  .side-nav .bold ul {
    padding-top: -5em !important;
    margin-left: -14px; }

  .side-nav .collapsible {
    background: whitesmoke; }

  .side-nav .collapsible-body ul {
    margin-top: -1.4em !important;
    background: whitesmoke; }

  .income {
    margin-left: 3px; }

  .align-top {
    margin-top: -10px; }

  .side-nav .fa {
    color: #808080;
    margin-right: -15px; }

  .side-nav .collapsible-header .fa {
    margin-right: 1px !important; }

  .side-nav .collapsible-body ul li .fa {
    margin-right: 5px !important; }

  .side-nav:not(:hover) > .collapsible-body {
    background: whitesmoke; }

  .side-nav .collapsible-body:not(:hover) {
    background: whitesmoke !important; }

  .side-nav .fa:hover {
    color: #01579b; }

  .side-nav .fa:hover + a {
    color: #01579b; }

  .side-nav a:hover > .fa {
    color: #01579b; }

  #task-listings {
    width: 250px;
    background: #01579b; }

  #task-listings li {
    width: 100%;
    float: left;
    margin-left: 0;
    display: block;
    color: white !important; }

  #task-listings li .ion {
    font-family: 'Segoe UI';
    font-size: 10pt;
    color: white !important; }

  #task-listings li .ion:hover {
    /*color:$primary-color*/ } }
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 90.063em) {
  .logo-main {
    margin-top: -3em;
    margin-bottom: 3em;
    /*background:#e1f5fe;*/
    width: 100%;
    border-bottom: 2px solid #01579b; }

  .identity {
    margin-top: -2em;
    margin-bottom: 2em; }

  .logo-main img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px; }

  .side-nav {
    width: 250px !important;
    background: whitesmoke; }

  .side-nav li {
    float: left;
    padding-bottom: 0px !important; }

  .side-nav a {
    height: 50px !important;
    font-size: 8pt !important;
    text-transform: capitalize;
    font-weight: bold; }

  .side-nav .bold ul {
    padding-top: -5em !important;
    margin-left: -14px; }

  .side-nav .collapsible {
    background: whitesmoke; }

  .side-nav .collapsible-body ul {
    margin-top: -1.4em !important;
    background: whitesmoke; }

  .income {
    margin-left: 3px; }

  .align-top {
    margin-top: -10px; }

  .side-nav .fa {
    color: #808080;
    margin-right: -15px; }

  .side-nav .collapsible-header .fa {
    margin-right: 1px !important; }

  .side-nav .collapsible-body ul li .fa {
    margin-right: 5px !important; }

  .side-nav:not(:hover) > .collapsible-body {
    background: whitesmoke; }

  .side-nav .collapsible-body:not(:hover) {
    background: whitesmoke !important; }

  .side-nav .fa:hover {
    color: #01579b; }

  .side-nav .fa:hover + a {
    color: #01579b; }

  .side-nav a:hover > .fa {
    color: #01579b; }

  #task-listings {
    width: 250px;
    background: #01579b; }

  #task-listings li {
    width: 100%;
    float: left;
    margin-left: 0;
    display: block;
    color: white !important; }

  #task-listings li .ion {
    font-family: 'Segoe UI';
    font-size: 10pt;
    color: white !important; }

  #task-listings li .ion:hover {
    /*color:$primary-color*/ } }
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .logo-main {
    margin-top: -3em;
    margin-bottom: 3em;
    /*background:#e1f5fe;*/
    width: 100%;
    border-bottom: 2px solid #01579b; }

  .identity {
    margin-top: -2em;
    margin-bottom: 2em; }

  .logo-main img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px; }

  .side-nav {
    width: 250px !important;
    background: whitesmoke; }

  .side-nav li {
    float: left;
    padding-bottom: 0px !important; }

  .side-nav a {
    height: 50px !important;
    font-size: 8pt !important;
    text-transform: capitalize;
    font-weight: bold; }

  .side-nav .bold ul {
    padding-top: -5em !important;
    margin-left: -14px; }

  .side-nav .collapsible {
    background: whitesmoke; }

  .side-nav .collapsible-body ul {
    margin-top: -1.4em !important;
    background: whitesmoke; }

  .income {
    margin-left: 3px; }

  .align-top {
    margin-top: -10px; }

  .side-nav .fa {
    color: #808080;
    margin-right: -15px; }

  .side-nav .collapsible-header .fa {
    margin-right: 1px !important; }

  .side-nav .collapsible-body ul li .fa {
    margin-right: 5px !important; }

  .side-nav:not(:hover) > .collapsible-body {
    background: whitesmoke; }

  .side-nav .collapsible-body:not(:hover) {
    background: whitesmoke !important; }

  .side-nav .fa:hover {
    color: #01579b; }

  .side-nav .fa:hover + a {
    color: #01579b; }

  .side-nav a:hover > .fa {
    color: #01579b; }

  #task-listings {
    width: 250px;
    background: #01579b; }

  #task-listings li {
    width: 100%;
    float: left;
    margin-left: 0;
    display: block;
    color: white !important; }

  #task-listings li .ion {
    font-family: 'Segoe UI';
    font-size: 10pt;
    color: white !important; }

  #task-listings li .ion:hover {
    /*color:$primary-color*/ } }
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 120.063em) {
  .logo-main {
    margin-top: -3em;
    margin-bottom: 3em;
    /*background:#e1f5fe;*/
    width: 100%;
    border-bottom: 2px solid #01579b; }

  .identity {
    margin-top: -2em;
    margin-bottom: 2em; }

  .logo-main img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px; }

  .side-nav {
    width: 250px !important;
    background: whitesmoke; }

  .side-nav li {
    float: left;
    padding-bottom: 0px !important; }

  .side-nav a {
    height: 50px !important;
    font-size: 8pt !important;
    text-transform: capitalize;
    font-weight: bold; }

  .side-nav .bold ul {
    padding-top: -5em !important;
    margin-left: -14px; }

  .side-nav .collapsible {
    background: whitesmoke; }

  .side-nav .collapsible-body ul {
    margin-top: -1.4em !important;
    background: whitesmoke; }

  .income {
    margin-left: 3px; }

  .align-top {
    margin-top: -10px; }

  .side-nav .fa {
    color: #808080;
    margin-right: -15px; }

  .side-nav .collapsible-header .fa {
    margin-right: 1px !important; }

  .side-nav .collapsible-body ul li .fa {
    margin-right: 5px !important; }

  .side-nav:not(:hover) > .collapsible-body {
    background: whitesmoke; }

  .side-nav .collapsible-body:not(:hover) {
    background: whitesmoke !important; }

  .side-nav .fa:hover {
    color: #01579b; }

  .side-nav .fa:hover + a {
    color: #01579b; }

  .side-nav a:hover > .fa {
    color: #01579b; }

  #task-listings {
    width: 250px;
    background: #01579b; }

  #task-listings li {
    width: 100%;
    float: left;
    margin-left: 0;
    display: block;
    color: white !important; }

  #task-listings li .ion {
    font-family: 'Segoe UI';
    font-size: 10pt;
    color: white !important; }

  #task-listings li .ion:hover {
    /*color:$primary-color*/ } }
/* min-width 1921px, xxlarge screens */

/*# sourceMappingURL=denari.css.map */
