@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

    ViewBag.Title = "Features and Benefits of Denari";
}


<section id="features-top" class="animated fadeIn">
    <div class="features-leading-text animated slideInLeft" >
        <span>No more </span>
        <span>manual ledgers</span>
        <span class="features-start">
            <a class="call" href="~/home/start">Learn more</a>
            <a class="readme" href="~/home/start">let us get you started</a>
        </span>
    </div>
</section>
<section id="features-one">
    <div class="header">
        <h1>Features & Benefits</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="feature-content">
                <h1 style="padding-left:4em; margin-bottom:-1em;"><i class="fa fa-clock-o hidden-xs" aria-hidden="true" style="color:#01579b"></i></h1>
                <h1 style="color:#01579b">Saves valuable time</h1>
                <p>
                    Completely eliminates the use of manual ledger cards.
                    No unnecessary paperwork that delay loan applications for members
                </p>
            </div>
            <div class="feature-content" style="padding-top:2em;">
                <p>
                   Cooperative members are sure of accurate savings and loans records
                    24/7, 365!
                </p>
                <p style="padding-top:2em; ">
                    <a style="text-decoration:none !important;" class="alternate-call " href="~/Home/start">Learn more..</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6 visible-desktop hidden-sm hidden-md hidden-xs">
            <img src="~/img/smart_naira.jpg" style="width:600px; height:auto;" />
        </div>
    </div>

    @*<img src="~/img/holding-phone.jpg" style="width:400px; height:auto;" />*@
</section>
<section class="features-two">
    
    <div class="feature-two-content">
        <h1 style="text-align:center;"><i class="fa fa-mobile" aria-hidden="true" style="font-size:100pt !important;"></i></h1>
        <h1>Track customer transactions anywhere, anytime!</h1>
        <p >
            Yes we are also mobile friendly. Customers can apply for loans online anywhere, anytime, from any device.
            customers can check savings balance and recieve transaction notifications
            via sms and email. Lenders and cooperatives too can manage their data online realtime from anywhere!
        </p>
        <p style="padding-top:2em; ">
            <a style="text-decoration:none !important;" class="alternate-call " href="~/Home/start">Sign up today for a denari deployment</a>
        </p>
    </div>
    
</section>