@{
    ViewBag.Title = "EnterAccountNo";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}



 
<div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
        <span class="card-title" style="color:black">
            <img src="~/Images/loan-agr.png" style="padding-right: 10px;" />Check customer loan status<hr />
        </span>
        <div class="add-user-heading alert alert-info">
            <span style="float: right; padding-right: 20px"></span>
            <p><strong>Heads Up!</strong>  Please enter account number to check its status.</p>
        </div><br />
        <form method="get" action="~/Loan/CheckLoanStatus">
            <div>
                <label><img src="~/Images/Customer-small.png" />&nbsp;&nbsp;Cooperator's account no.</label>
            </div>
            <div>
                <input type="text" id="accountno" style="width:275px" name="accountno" />
            </div>
            <br />
            <div>
                <input type="submit" class="btn btn-info" style="background-color:#f06292" value="check account status" />
                <a href="~/Home/cashier" class="btn btn-primary"><img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home!</a><br />
            </div>
        </form>
    </div>

</div>
