@model CRIMAS.Models.CustomerSavings

@{
    ViewBag.Title = "Debit customer savings account";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}


@using (Html.BeginForm("DebitAccount", "CustomerSavings", FormMethod.Post,
    new { @onsubmit = "return confirm('Are you sure you want to debit this account?')" }))
{
    <span style="color:red">@Html.ValidationSummary()</span>

    <div class="subheading">
        <span>
            <img src="~/Images/Debit-black.png" style="padding-right: 20px;" />Debit customer account</span>
    </div>
    <br />
     
    <div style="padding-left: 20px;">
        <div class="add-user-heading alert alert-error">
            <span style="float: right; padding-right: 20px"></span>
            <p>Please enter account number and amount you wish to debit with.</p>
        </div><br />
            <table style="width: 90%; margin-left: auto; margin-right: auto;">
            <tr>
                <td style="text-align: right; padding: 10px; color: #808080;">
                    <label style="font-weight: bold">&nbsp;&nbsp;Account no.</label>
                </td>
                <td>
                    <div class="input-prepend">
                        <span class="add-on">
                            <img src="~/Images/Customer-small.png" /></span>
                        @Html.TextBoxFor(model => model.AccountNo, new { @placeholder = "Enter customer's account no.", @style = "width:180px" })
                      
                    </div>
                </td>
            </tr>
             <tr>
                <td style="text-align: right; padding: 10px; color: #808080;">
                    <label style="font-weight: bold">&nbsp;&nbsp;Amount</label>
                </td>
                <td>
                    <div class="input-prepend" >
                        <span class="add-on">
                            ₦</span>
                        @Html.TextBoxFor(model => model.Debit, new { @placeholder = "Amount to credit", @style = "width:180px" })
                        
                    </div>
                </td>
            </tr>
        </table>
        <input type="hidden" id="credit" name="credit" value="0" />
        <br />
        <p style="text-align:center">
            <input type="submit" class="btn btn-danger" value="Debit customer account" />
            <a href="~/Home/cashier" style="padding:10px" class="btn btn-primary"><img src="~/Images/Home.png"/>&nbsp;&nbsp;Take me home!</a>
        </p>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@